<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>hey there {{ request.session.name }}, these are your appointments for today!</p>
        <h2>Today's appointments</h2>


{{ time_now }}

        <table>
            <h2>Other appointments</h2>
            <tr>
                <th>Description
                </th>
                <th>Time
                </th>
                <th>Status
                </th>
                <th>Action
                </th>
            </tr>
            {% for appointment in appointments %}
            <tr>
                <td> {{ appointment.description }}
                </td>
                <td> {{ appointment.time_due }}
                </td>
                <td>  {{ appointment.status }}
                </td>
                <td><a href="/edit_appointment/{{appointment.id}}">edit</a> / <a href="/delete/{{appointment.id}}">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>Add an Appointment</h3>
        <form action='/add_appointment' method='POST'>
            {% csrf_token %}
            <input type="hidden" name='user' value='{{request.session.user_id}}'>
            <table>
                <tr>
                    <td>Description</td>
                    <td><input type='text' name='description'></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type='date' name='due_date'></td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td><input type='time' name='time_due'></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><input type='radio' name='status' value='Pending' checked="checked">Pending<input type='radio' name='status' value='Done'>Done<input type='radio' name='status' value='Missed'>Missed</td>
                </tr>
            </table>
            <input type='submit' value='add appointment'>
        </form>

    <p><a href='/logout'>Log out</a></p>
    </body>
</html>
